NODE_ENV=staging
PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://Jaglal:Jaglal2026@cluster0.rmz0tzo.mongodb.net/mean_crm?retryWrites=true&w=majority
JWT_ACCESS_SECRET=SZprISpQBChmJt0wf92wymRPk06YGU25qcaozXNNwy4
JWT_REFRESH_SECRET=DyjhPfk9gwZrXG5GCTgyozd2Q1mFzgie8NqucKVdomt
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES_DAYS=7
CORS_ORIGIN=https://184.72.236.149
